
#circle
{
width: 14px;
height: 14px;
background-color: #5964E0;
transition: all 0.3s ease-in-out;
}
input[type="checkbox"]
{

}
#searchPurple
{
    fill: red;
}
@media (min-width: 768px){
    .headerBackground {
    border-bottom-left-radius: 100px 90px;
    }
}

.lock{
    background-color: black;
}