#circle
{
width: 14px;
height: 14px;
background-color: #5964E0;
transition: all 0.3s ease-in-out;
}
input[type="checkbox"]
{
background-color: #E8E8EA;
-webkit-appearance: none;
-moz-appearance: none;
-o-appearance: none;
appearance:none;
}
#searchPurple
{
    fill: red;
}